.connect {
	position: relative;
	text-align: center;
	font-size: 1rem;
	font-weight: 400;
	padding: 1.5rem 0;
}

.connect_text {
	color: #979797;
}

.connect_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	padding-top: 1rem;
	margin: 0 auto;
}

.connect_list_item{
    margin-top: 20px;
	margin-right: 20px;
}

.connect_list_item:hover {
	color: #8b939b;
}