.launch-description-section{
    position: relative;
    align-items: center;
}

.launch-description-main-div{
    margin-top: 8rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    
}

.main-title{
    margin-bottom: 2rem;
}

.launch-description-section .rocket-details-main-div p{
    margin-top: 1rem;
}