.rocket-section{
    position: relative;
    align-items: center;

}

.recent_launch .bg{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.recent_launch .bg:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);

}

.main-rocket-div{
    position: absolute;
    display: flex;
    margin: 20px;
    gap: 20px;
    flex-wrap: wrap;
    left: 1.5rem;
    top: 6rem;
    flex-direction: column;
    width: 100%
    
}

.details{
    margin-top: 10px;
}

.rocket-title{
    margin-top: 30px;
    margin-bottom:20px
}


.rocket-background-div{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.rocket-info{
    font-weight: bold;
    flex-grow: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.engine-info{
    font-weight: bold;
    flex-grow: 1;


}

.rocket-item-div{
        position: relative;
        margin: 20px;
        padding: 10px; 
        border: solid 1px white;
        border-radius: 20px;
        display: flex; 
        flex-direction: row;  
        flex-wrap: wrap;
        width: 90%;
        gap: 20px;
        align-items: flex-end;
        text-align: center;
}


.engine-info .links{
    margin-top: 20px;
    padding: 5px;
    text-decoration: underline;
}
.links-div  {
    text-align: center;
    margin-bottom: 5px;
}


 
.engine-info .links:hover {
    color: skyblue
}