.upcoming-section{
    position: relative;
    height: 100vh;
}
.upcoming-title{
    text-transform: uppercase;
    position: absolute;
    top: 5%;
    left: 1.5rem;
    text-align: left;
}

.upcoming-main-div{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 24px;
  position: absolute;
  top: 15%;
  
}

.upcoming-div{

}

.upcoming-rocket-images{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  flex-direction: column;
}


.rocketimg{
  height: 340px;
  object-fit: cover;
  margin: 10px;
  background-position: center;
  background-size: cover;    

}

